 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Pilates</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Pilates ist ein ganzheitliches Körpertraining, bei dem vor allem die tief liegenden, meist schwächeren Muskelgruppen trainiert werden, welche für Stabilität und für eine gesunde Körperhaltung sorgen. Das Training beinhaltet sowohl Kräftigungs- als auch Dehnungsübungen und wird durch eine bewusst durchgeführte Atmung ergänzt. Die Methode ist sowohl für Sportanfänger als auch für Fortgeschrittene in allen Altersklassen geeignet.</p>
                </div>
                <div class="col-lg-4">
                    <p>Die Pilates-Studiogeräte arbeiten mit Federwiderständen, welche je nach Einstellung die Übungsausführung vereinfachen oder erschweren können. Gerade für Pilates-Neulinge wird ein Training an den Geräten empfohlen um die korrekte Übungsausführung zu erlernen und die tiefen Muskelgruppen zu aktivieren. Für Fortgeschrittene bieten sie ein grosses, vielseitiges Übungsrepertoire, welches mit zusätzlichen Widerständen beliebig intensiviert werden kann. </p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
        
       <!-- <div class="container">  
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Pilates für ...</h3>
                    
                </div>
            </div>
            <div class="row"></div>
                    {% for post in site.posts %}
                        {% if post.type =="target_client"%}
                            <div class="col-lg-offset-2">
                                <a href="#portfolioModal-{{ post.modal-id }}" data-toggle="modal">
                                    <p style = "color:#ffffff; text-decoration: underline;">...{{ post.title }}</p>
                                </a>
                            </div>
                        {%endif%}
                    {% endfor %}
                    <div class="col-lg-offset-2">
                        <p>Und weil es Spass macht!</p>
                    </div>
                </div>    
        </div>-->
    </section>

     
