 <!-- About Section -->
 <section class="team" id="aktuelles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Aktuelles</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                    <b>Neue Barrel-Mattenkurse in Wetzikon! </b>
                </p>
                    
                <p>  
                   Melde Dich für unseren Newsletter an und sichere Dir eine kostenlose Probestunde beim Barrel-Mattenkurs.    
                </p>
                <p>  
                    <b>Ab dem 12. Oktober:</b>
                    <br/>MO 18.15 - 19.15
                    <br/>MI 8.15 - 9.15
                    <br/>DO 14.00 - 15.00
                    <br/>DO 17.30 - 18.30
                    <br/>DO 18.30 - 19.30                  
                    <br/>Der Einstieg ist jederzeit möglich.
                 </p>
                 
                <p>Buche direkt Deine Probestunde oder melde Dich bei mir. </p>
                <p>Ist Deine Lieblingszeit nicht dabei? Dann freue ich mich über Deine Nachricht!</p>
                 
            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#newsletter" class="btn btn-default" data-toggle="modal">
             Newsletter-Anmeldung
            </a>
            <p> </p>
            <a href="https://www.sportsnow.ch/go/elephantpilates" target="_blank"><img src="//s3-eu-central-1.amazonaws.com/sportsnow/production/assets/sportsnow_buttons/sportsnow-button-xs-de-409c54ec9e9f4abe4a02081d2a45ee419026fc4e603f2fac06aba619db929adf.png" alt="SportsNow" title="SportsNow"></a> 
        </div>

       <!--- <div class="row"></div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#portfolio" class="btn btn-default">
                         Los geht's!
                    </a>
            </div>
        </div> -->
    </div>
</section>

 
