 <!-- About Section -->
 <section class="team" id="aktuelles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Aktuelles</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                    <b>Neue Barrel-Mattenkurse in Wetzikon! </b>
                </p>
                    
                <p>  
                   Melde Dich für unseren Newsletter an und sichere Dir eine kostenlose Probestunde beim Barrel-Mattenkurs. Start nach den Sommerferien, weitere Infos folgen.
                </p>
                <p>  
                    Bis bald!
                 </p>
            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#newsletter" class="btn btn-default" data-toggle="modal">
             Newsletter-Anmeldung
            </a>
            <p> </p>
        </div>

       <!--- <div class="row"></div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#portfolio" class="btn btn-default">
                         Los geht's!
                    </a>
            </div>
        </div> -->
    </div>
</section>

 
