 <!-- About Section -->
 <section class="team" id="aktuelles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Endlich wieder fit!</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--<p>
                    <b> Endlich wieder fit! </b>
                </p>-->
                    
                <p>  
                   Rückenschmerzen? Nackenverspannungen? Unsere Pilateskurse bieten Dir ein funktionales Ganzkörpertraining - für einen mobilen Rücken, eine gesunde Körperhaltung und mehr Wohlbefinden. 
                </p>   
                   <p>   
                   Wir trainieren in Kleingruppen per Live Stream, professionell angeleitet, mit oder ohne Abo. Ein Training fast wie im Studio.
                </p>
                
                <p>  
                    <b>Unsere online Mattenklassen:</b>
                    <br/>MO 20.00 - 21.00
                    <br/>MI 20.30 - 21.30
                    <br/>DO 12.15 - 13.15
                </p>

                <p>  
                    <b>Pilates für Senioren/innen:</b>
                    <br/>DO 16.30 - 17.30
                </p>
                 
            </div>
        </div>
        <p>
        </p>

       <div class="row"></div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact"  style = "background-color:#{{ site.color.primary }}" class="btn btn-default">
                         Kostenlose Probestunde
                    </a>
            </div>
        </div>
    </div>
</section>

 
