 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            {% if post.title2 %}
                            <h2>{{ post.title2 }}</h2>
                            
                            {%else %}
                            <h2>{{ post.title }}</h2>
                            {%endif %}
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                           
                           <p>
                            {% if post.Zeiten %} <a> <strong>{{ post.Zeiten }}</strong></a> {% endif %}
                            {% if post.Zeiten1 %} <br/> <a> <strong>{{ post.Zeiten1 }}</strong></a>{% endif %}
                            {% if post.Zeiten2 %} <br/> <a> <strong>{{ post.Zeiten2 }}</strong></a>{% endif %}
                            {% if post.Zeiten3 %} <br/> <a> <strong>{{ post.Zeiten3 }}</strong></a>{% endif %}
                            {% if post.Zeiten4 %} <br/> <a> <strong>{{ post.Zeiten4 }}</strong></a>{% endif %}
                            </p>
                            {% if  post.marker %}<p style = "color:#{{site.color.highlight}}"><b>{{ post.marker }}</b></p>{% endif %}
                            <p>
                                {% if post.Zeiten5 %}{{ post.Zeiten5 }}{% endif %} 
                            </p>  
                            
                            


                            <ul class="list-inline item-details">
                                {% if post.Lektion %}
                                    <li><strong>Einzellektion:</strong>
                                        {{ post.Lektion }}
                                    </li>
                                {% endif %}
                                {% if post.Quartalsabo %}
                                    <li> <strong>Quartalsabo:</strong>
                                         {{ post.Quartalsabo }}
                                        
                                    </li>
                                {% endif %}
                                {% if post.10Abo %}
                                    <li> <strong>10er Abo:</strong>
                                         {{ post.10Abo }}
                                        
                                    </li>
                                {% endif %}
                                {% if post.Zeiten %}
                                    {% if post.Location %}
                                        <li> <strong>Location:</strong>
                                            {{ post.Location }}
                                        </li>
                                    {% endif %}
                                {% endif %}
                            <!-- Einzelstunden:-->
                            <ul class="list-inline item-details">
                                {% if post.LektionPrivat %}
                                    <li><strong>Einzellektion (Privat):</strong>
                                        {{ post.LektionPrivat }}
                                    </li>
                                {% endif %}
                                {% if post.10AboPrivat %}
                                    <li> <strong>10er Abo (Privat):</strong>
                                         {{ post.10AboPrivat }}
                                        
                                    </li>
                                {% endif %}
                            <!-- Duettstunden:-->
                            
                                {% if post.LektionDuett %}
                                    <li><strong>Einzellektion (Duett):</strong>
                                        {{ post.LektionDuett }}
                                    </li>
                                {% endif %}
                                {% if post.10AboDuett %}
                                    <li> <strong>10er Abo (Duett):</strong>
                                         {{ post.10AboDuett }}
                                        
                                    </li>
                                {% endif %}
                                {% if post.LektionDuett %}  
                                    {% if post.Location %}
                                        <li> <strong>Location:</strong>
                                            {{ post.Location }}    
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if post.Sportsnow %}
                                    <a href="https://www.sportsnow.ch/go/elephantpilates" target="_blank"><img src="//s3-eu-central-1.amazonaws.com/sportsnow/production/assets/sportsnow_buttons/sportsnow-button-xs-de-409c54ec9e9f4abe4a02081d2a45ee419026fc4e603f2fac06aba619db929adf.png" alt="SportsNow" title="SportsNow"></a> 
                                {% endif %}

                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}