 <!-- About Section -->
 <section class="success" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Über mich</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
           
           
            <div class="col-lg-8 col-lg-offset-2 text-center">
               
                <p>
                    Als Mutter von zwei Kindern mit einem fordernden Bürojob war ich auf der Suche nach einem Training, das mir hilft 
                    wieder fit zu werden und etwas gegen meine andauernden Rückenschmerzen zu tun. So habe ich 
                    zum Pilates gefunden und bin begeistert von den Möglichkeiten und den Resultaten dieses Ganzkörpertrainings. 
                    Je intensiver ich Pilates trainiere, umso mehr lerne ich die Vielseitigkeit und Tiefgründigkeit 
                    dieser Methode zu schätzen.
                </p>
                <p>
                    Nun möchte ich meine Leidenschaft zum Beruf machen und diese Begeisterung an Dich weitergeben. Mein Ziel ist es, Dir am eigenen Körper zu vermitteln, was es bedeutet durch richtiges Training zu einem von Grund auf fitten Körper und einer 
                    gesünderen Körperhaltung zu finden. Dabei ist mir die Qualität der Übungsausführung sehr wichtig, da nur eine korrekt ausgeführte Übung zum gewünschten Resultat führt. 
                </p>
                <p>
                    Meine Pilates-Ausbildung für die Matte und die Studiogeräte habe ich bei BASI&reg; in Zürich absolviert. Einen grosser Teil meiner praktischen Erfahrung basiert auf den Prinzipien von The Pilates Standard &reg;, sodass mein Training sowohl Elemente von der klassischen Methode als auch vom zeitgenössischen Pilates beinhaltet.
                </p>
                
            <div class="col-lg-8 text-left">

            <p>
                <i><small>Sandra Deubler</small></i>
            </p>
        </div>
        </div>
    </div>
</section>

 
