 <!-- About Section -->
 <section class="success" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Über mich</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
           
           
            <div class="col-lg-8 col-lg-offset-2 text-center">
               
                <p>
                    Je intensiver ich Pilates trainiere, umso mehr lerne ich die Vielseitigkeit und Tiefgründigkeit dieser Methode zu schätzen.
                </p>
                <p>
                    Als Trainerin möchte ich genau diese Begeisterung weitergeben. Mein Ziel ist Dir am eigenen Körper zu vermitteln, was es bedeutet durch richtiges Training zu einem von Grund auf fitten Körper und einer 
                    gesünderen Körperhaltung zu finden. Dabei ist mir die Qualität der Übungsausführung sehr wichtig, da nur eine korrekt ausgeführte Übung zum gewünschten Resultat führt. 
                </p>
                <p>
                    Meine Pilates-Ausbildung für die Matte und die Studiogeräte habe ich bei BASI&reg; in Zürich absolviert. Einen grosser Teil meiner praktischen Erfahrung basiert auf den Prinzipien von The Pilates Standard &reg;, sodass mein Training sowohl Elemente von der klassischen Methode als auch vom zeitgenössischen Pilates beinhaltet.
                </p>
                
            <div class="col-lg-8 text-left">

            <p>
                <i><small>Sandra Deubler</small></i>
            </p>
        </div>
        </div>
    </div>
</section>

 
